# Ignore TypeScript files for ESLint
**/*.ts
**/*.d.ts
**/*.astro
src/components/**/*.astro
src/icons/**/*.astro
src/layouts/**/*.astro
src/pages/**/*.astro
# Ignore scripts and domain files for CI
scripts/
src/domain/
src/application/
src/infrastructure/