<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Angular</title>
    <path fill="#DD0031" d="M12 2L2 7v10c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V7l-9-5z"/>
    <path fill="#C3002F" d="M12 2L2 7v10l10 4.5L22 17V7L12 2z"/>
    <path fill="#FFFFFF" d="M12 4.5L5 8.5v6l7 3.5 7-3.5v-6l-7-4zm0 2.5l5 2.5v3l-5 2.5-5-2.5v-3z"/>
</svg>