<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Azure</title>
    <path fill="#0078D4" d="M12.038 2.692L4.785 20.692L12.038 15.692L19.291 20.692L12.038 2.692z"/>
    <path fill="#0078D4" d="M12.038 15.692L4.785 20.692L12.038 18.692L19.291 20.692L12.038 15.692z"/>
</svg>