<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>CSS</title>
    <path fill="#1572B6" d="M1.5 0h21l-1.91 21.563L11.977 24l-8.564-2.438L1.5 0zm17.09 9.75l.252-2.819H8.564l.697 7.688h8.39l-.28 3.086-2.688.72-2.688-.72-.19-2.069H6.697l.352 3.952 5.126 1.44 5.126-1.44.697-7.688H6.718l-.252-2.819H18.59z"/>
</svg>
