<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Django</title>
    <path fill="#092E20" d="M5.777 0v24h5.693V0H5.777zm7.449 0v24h5.693V0h-5.693z"/>
    <path fill="#092E20" d="M0 5.777v5.693h24V5.777H0zm0 7.449v5.693h24v-5.693H0z"/>
    <path fill="#092E20" d="M5.777 5.777v5.693h5.693V5.777H5.777zm7.449 7.449v5.693h5.693v-5.693h-5.693z"/>
</svg>

