<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Docker</title>
    <path fill="#2496ED" d="M12.936 0c.15 0 .3.004.447.012.196.01.39.032.58.067a3.355 3.355 0 0 1 1.067.383c.316.16.593.376.826.635a3.21 3.21 0 0 1 .635.826c.187.338.317.71.383 1.067.035.19.057.384.067.58.008.148.012.297.012.447 0 .15-.004.3-.012.447a4.066 4.066 0 0 1-.067.58 3.355 3.355 0 0 1-.383 1.067c-.16.316-.376.593-.635.826a3.21 3.21 0 0 1-.826.635c-.338.187-.71.317-1.067.383a4.066 4.066 0 0 1-.58.067c-.148.008-.297.012-.447.012-.15 0-.3-.004-.447-.012a4.066 4.066 0 0 1-.58-.067 3.355 3.355 0 0 1-1.067-.383c-.316-.16-.593-.376-.826-.635a3.21 3.21 0 0 1-.635-.826c-.187-.338-.317-.71-.383-1.067a4.066 4.066 0 0 1-.067-.58c-.008-.148-.012-.297-.012-.447 0-.15.004-.3.012-.447a4.066 4.066 0 0 1 .067-.58c.066-.357.196-.729.383-1.067a3.21 3.21 0 0 1 .635-.826c.233-.259.51-.475.826-.635a3.355 3.355 0 0 1 1.067-.383c.19-.035.384-.057.58-.067.148-.008.297-.012.447-.012z"/>
</svg>

