<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>.NET</title>
    <path fill="#5C2D91" d="M4.03 7.83L0 10.87l4.03 3.04V7.83zM5.03 6.49v9.02l7.03-4.51L5.03 6.49zM19.97 7.83v6.08L24 10.87l-4.03-3.04zM18.97 6.49L11.94 12l7.03 4.51V6.49zM9.03 12l6-3.84v7.68L9.03 12z"/>
</svg>