<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>FastAPI</title>
    <path fill="#009688" d="M12 0L2 7v10c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V7l-9-5z"/>
    <path fill="#FFFFFF" d="M8.75 9.75h6.5v1.5h-6.5zm0 3h6.5v1.5h-6.5z"/>
</svg>

