<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Flutter</title>
    <path fill="#02569B" d="M12 2L2 7v10c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V7l-9-5z"/>
    <path fill="#02569B" d="M6 6h12v12H6z"/>
    <path fill="#81D4FA" d="M8 8h8v8H8z"/>
</svg>
