<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Next.js</title>
    <path fill="#000000" d="M11.572 0c-.176 0-.31.014-.452.027-.375.032-.748.12-1.075.267A3.357 3.357 0 0 0 8.82 2.02c-.39.41-.67.904-.814 1.453-.053.203-.078.408-.078.618v11.754c0 .1.016.198.027.295.016.112.016.227.043.334a3.46 3.46 0 0 0 1.22 2.004c.232.16.482.297.75.4.047.02.095.04.145.058.11.04.226.075.342.103.115.028.232.048.35.06.3.04.595.054.876.054h.69c.29 0 .585-.015.874-.054.116-.012.234-.032.35-.06.115-.028.232-.063.342-.103.05-.018.098-.038.145-.058a3.33 3.33 0 0 0 .75-.4c.46-.317.834-.748 1.104-1.26.17-.327.284-.68.34-1.04a3.45 3.45 0 0 0 .04-.342c.011-.097.027-.195.027-.295V11.93c0-.21-.025-.415-.078-.618a3.464 3.464 0 0 0-.814-1.453 3.357 3.357 0 0 0-1.224-.726 3.082 3.082 0 0 0-1.075-.267c-.142-.013-.276-.027-.452-.027z"/>
    <path fill="#000000" d="M24 11.393c0-.695-.246-1.29-.738-1.78-.492-.492-1.09-.738-1.794-.738-.697 0-1.292.246-1.784.738-.492.492-.738 1.088-.738 1.78 0 .705.246 1.302.738 1.794.492.492 1.088.738 1.784.738.704 0 1.302-.246 1.794-.738.492-.492.738-1.09.738-1.794z"/>
</svg>
