<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Python</title>
    <path fill="#3776AB" d="M11.5 0C8.5 0 8 2 8 5v3H5v3h3v8h3v-8h3l1-3h-4V5c0-1 .5-1.5 1.5-1.5H13V0h-1.5z"/>
    <path fill="#FFD43B" d="M12.5 24C15.5 24 16 22 16 19v-3h3v-3h-3V5h-3v8h-3l-1 3h4v3c0 1-.5 1.5-1.5 1.5H11v3h1.5z"/>
</svg>

