<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Railway</title>
    <path fill="#0B0B0F" d="M3 3h18v18H3V3zm16.5 10.5v-6h-15v6h15zm-15 3v1.5h15v-1.5h-15z"/>
    <path fill="#0B0B0F" d="M10.5 9h3v1.5h-3V9z"/>
</svg>