<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Svelte</title>
    <path fill="#FF3E00" d="M15.85 8.38c-1.28-.69-3.24-.69-4.52 0L8.1 10.46c-.64.35-1.04 1.03-1.04 1.77s.4 1.42 1.04 1.77l3.23 2.08c1.28.69 3.24.69 4.52 0l3.23-2.08c.64-.35 1.04-1.03 1.04-1.77s-.4-1.42-1.04-1.77L15.85 8.38zm-1.13 4.27c-.86.47-2.18.47-3.04 0l-3.23-2.08c-.43-.24-.43-.64 0-.88l3.23-2.08c.86-.47 2.18-.47 3.04 0l3.23 2.08c.43.24.43.64 0 .88l-3.23 2.08z"/>
</svg>