<svg width="16" height="16" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <title>Vue</title>
    <path fill="#4FC08D" d="M24 1.61H14.06L12 5.16 9.94 1.61H0L12 22.39 24 1.61z"/>
    <path fill="#35495E" d="M0 1.61l4.89 10.95 3.62-6.16L5.82 1.61H0zm12 0l-4.49 7.95 4.49 8.15 4.49-8.15L12 1.61zm9.18 0l-2.69 4.79 3.62 6.16L24 1.61h-2.82z"/>
</svg>