---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="Sobre mí" i18nKey="section.about">
  <p data-i18n="cv.basics.summary">
    {typeof summary === 'object' ? summary.es : summary}
  </p>
</Section>
