---
 const personalImageAlt = "Diego Saavedra"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo <strong>Diego Saavedra</strong> y soy ecuatoriano, con 36 años de edad. Actualmente, soy estudiante de un <strong>Doctorado en Informática</strong>, con una sólida formación en Ciencias de la Computación y una profunda pasión por el <strong>Desarrollo de Software</strong> y la <strong>investigación</strong>. Vivo en Quito, donde he desarrollado parte de mi carrera profesional.
    </p>

    <p>
      Mi trayectoria profesional incluye la enseñanza de asignaturas basadas en  <strong>Ciencias de la Computación</strong> y la investigación en áreas clave como el <strong>Desarrollo de Software</strong> e <strong>Inteligencia Artificial</strong>. A lo largo de los años, he adquirido habilidades técnicas en una amplia gama de tecnologías y lenguajes de programación, incluyendo <strong>Python (junto con sus frameworks Django, Flask, y FastAPI)</strong>, <strong>JavaScript (con Express, Next, y Astro)</strong>, y el desarrollo de aplicaciones móviles en <strong>Android</strong> y <strong>Flutter</strong>.
    </p>

    <p>
      Mi experiencia se extiende más allá de los lenguajes de programación y frameworks, abarcando también diversas <strong>arquitecturas de software</strong>, como <strong>microservicios</strong> y <strong>arquitecturas en la nube</strong> (AWS), utilizando <strong>Docker</strong> y <strong>Kubernetes</strong>.
    </p>

    <p>
      Como profesional, mi enfoque ha sido crear software de alta calidad y liderar equipos ágiles de manera efectiva. Mis habilidades de comunicación, que son fundamentales para colaborar de manera productiva con colegas y clientes, se complementan con mi capacidad para analizar y resolver problemas complejos, lo que me ha permitido abordar desafíos técnicos con confianza. Asimismo, mi habilidad para gestionar el tiempo y los recursos ha sido clave para cumplir con los plazos y alcanzar resultados tanto en proyectos de desarrollo como de investigación.
    </p>

    <p>
      En resumen, como estudiante de Doctorado en Informática, mi compromiso radica en alcanzar la excelencia en el desarrollo de software y en liderar investigaciones pioneras en tecnologías de vanguardia. Mi experiencia y competencia técnica, combinadas con mi pasión por la innovación y la educación, me posicionan como un profesional versátil y valioso en el campo de las ciencias de la computación. Estoy disponible para trabajos freelance.
    </p>

    <p>
    <strong>Datos Generales: </strong>
    </p>
    <p>
      <strong>Edad: </strong> 36.
      <br>
      <strong>Nacionalidad: </strong> Ecuatoriana.
      <br>
      <strong>Ciudad/Pais: </strong> Quito, Ecuador.
      <br>
      <strong>E-mail: </strong> dsavedra88@gmail.com.
      <br>
      <strong>E-mail: </strong> dmsaavedra@espe.edu.ec.
      <br>
      <strong>Phone: </strong> +593 992018216.
      <br>
      <strong>Freelance: </strong> available.
      <br>
      <strong>English: </strong> B1.
    </p>
  </div>


  <img width="200" height="200" src="/me.png" alt="Imagen personal" class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
