---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card">
  <a href={href}>
    <h2>{title} <span>&rarr;</span></h2>
    <p>{body}</p>
  </a>
</li>

<style>
  .link-card {
    list-style: none;
    display: flex;
    padding: 1rem;
    background-color: #23262d;
    border-radius: 7px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  }

  .link-card > a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    padding: 1rem;
    border-radius: 6px;
    background-color: #23262d;
    opacity: 0.8;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .link-card h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.3s ease;
  }

  .link-card p {
    margin: 0.5rem 0 0;
  }

  .link-card:hover,
  .link-card:focus-within {
    background-color: var(--accent-background);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .link-card:is(:hover, :focus-within) {
  background-position: 0;
  background-image: var(--accent-gradient);
}


  :root {
    --accent-background: linear-gradient(135deg, rgba(255, 0, 150, 0.3), rgba(0, 204, 255, 0.3));
    --accent-light: #00bcd4;
  }
</style>
