---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Docente",
    company: "Universidad de las Fuerzas Armadas ESPE",
    description:
      "Planificación, supervisión de tesis, ajuste curricular, gestión de proyectos, inteligencia artificial, programación móvil, programación web, estructuras de datos, modelos discretos.",
  },
  {
    date: "Actualmente...",
    title: "Facilitador",
    company: "Codings Academy",
    description:
      "Facilitador, cursos, python, django, django rest framework, html5, css3, javascript, nodejs, react.",
  },
  {
    date: "2022",
    title: "Profesor",
    company: "Universidad Internacional del Ecuador",
    description:
      "Docente en la Escuela de Ingeniería en Tecnologías de la Información. Impartí cursos de Interfaces y Multimedia, Inteligencia Artificial, Organización de Bases de Datos, Programación Avanzada y Programación Móvil.",
  },
  {
    date: "2021 - Actualmente",
    title: "Facilitador",
    company: "Abacom",
    description:
      "Cursos de Programación en Python y Administración de Servidores Linux.",
  },
  {
    date: "2019 - 2022",
    title: "Profesor",
    company: "Instituto Superior Tecnológico Juan Montalvo",
    description:
      "Impartí materias como Computación I y II, Redes I y II, Sistemas Operativos I y II, Redes IoT.",
  },
  {
    date: "2013 - 2022",
    title: "Docente de Ciencias Computacionales",
    company: "Escuela de Educación Básica Antonio Peña Celi",
    description:
      "Especializado en ciencias de la computación, redes y educación.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
